body {
  text-align:center;
  display:flex;
  flex-direction:column;
  align-items: center;
  font-family:monospace;
  background-color: darkslateblue;
}

.mainbody {
  display:flex;
  flex-direction:column;
  align-items: center;
  background-color: antiquewhite;
  width:70%;
}

input {
  transition:all 100ms ease-in-out;
  width:110%;
}

input:hover {
  transform: scale(1.2);
}

h1 {
  font-size:300%;
  line-height:80%;
}

.bold {
  font-weight:300%;
}

h2 {
  font-size:100%;
  line-height:1%;
}

.banner {
  display:flex;
  flex-direction:column;
  align-items: flex-end;
}

form {
  display: flex;
  flex-direction:column;
  align-items: center;
}

div#output {
  background-color: aliceblue;
  margin:5% 0;
}

div#output li {
  animation: contractList 100ms ease-in-out;
  animation-fill-mode: forwards;
}

div#matrix {
  font-family: monospace;
  white-space: pre;
  font-weight:bold;
  letter-spacing: 10px;
}

div#output li:hover {
  animation: expandList 100ms ease-in-out;
  animation-fill-mode: forwards;
  font-weight:bold;
  font-size:150%;
  background-color: lavender;
  font-style:italic;
}

@keyframes expandList{
  from{
    padding: 0 0;
    line-height: 100%;
  } to {
    padding: 4% 0;
    line-height: 150%;
  }
}

@keyframes contractList{
  from{
    line-height: 150%;
    padding: 4% 0;
  } to {
    padding: 0 0;
    line-height: 100%;
  }
}
